.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: brown;
    border-radius: 20px;
    box-shadow: 0 0 7px 5px rgba(128, 128, 128, 0.507);
    margin: 40px;
    color: white;
  }