@use '../abstracts/' as * ;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: $button-bg;
    border-radius: 10px;
    box-shadow: 0 0 7px 5px $button-shadow;
    margin: 40px;
    color: $button-text;
}

