@use '../abstracts/' as *;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: $button-bg;
    border-radius: 5px;
    margin: 40px;
    color: $button-text;
    

    @include hover-lift();

}