@use '../abstracts/colors' as *;

.nav {
    #leipzigWardHeader {
    }
        nav {
            background-color: $navbar-bg;
            padding: 3rem;
            margin: 3rem;
                li {
                    .liNav {
                        text-decoration: none;
                        font-size: 4rem;
                        //color: green;
                        &:hover {
                            color: $navbar-hover;
                            transition: color 0.3s ease-in-out;
                            //transform: translate(0.5rem);
                            
                        }
                    }
                }
        }


}


