@use '../abstracts/colors' as *;

nav {
    background-color: rgba(0, 0, 0, 0.831);
    padding: 3rem;
    margin: 3rem;
    & li {
        & a {
            text-decoration: none;
            font-size: 4rem;
            color: white;
            transition: color 0.3s ease-in-out;
        }
    }
}

.liNav{
    & hover{
        color: $button-color;
    }
} 