@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&display=swap");
.button {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: brown;
  border-radius: 20px;
  box-shadow: 0 0 7px 5px rgba(128, 128, 128, 0.507);
  margin: 40px;
  color: white;
}

.buttonMakerMap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: brown;
  border-radius: 20px;
  box-shadow: 0 0 7px 5px rgba(128, 128, 128, 0.507);
  color: white;
  margin-top: 20px;
}

#buttonMakerLink {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 20px;
}

#buttonAdd {
  background-color: brown;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 0 7px 5px rgba(128, 128, 128, 0.507);
  margin: 40px;
  color: white;
}

#foot {
  background-color: rgba(0, 0, 0, 0.831);
  padding: 3rem;
  margin: 3rem;
  font-size: 3rem;
  color: white;
}

nav {
  background-color: rgba(0, 0, 0, 0.831);
  padding: 3rem;
  margin: 3rem;
}
nav li a {
  text-decoration: none;
  font-size: 4rem;
  color: white;
  transition: color 0.3s ease-in-out;
}

.liNav hover {
  color: brown;
}

@media (max-width: 479px) {
  #leipzigWardHeader {
    padding: 2rem;
    margin: 0rem;
    font-size: 4rem;
  }
  nav {
    padding: 0.5rem;
    margin: 0;
    width: 100%;
  }
  nav li a {
    font-size: 1.6rem;
  }
  .container {
    width: 95%;
  }
  /* .map{
  width: fit-content;
    } */
  iframe {
    width: 100%;
    height: 480px;
  }
  #foot {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  .cardContainer {
    display: block;
    margin: 0;
  }
  .searchZone {
    display: block;
    margin: 0;
  }
  .SearchName,
.searchPostcode,
.searchDropdown {
    /* background-color: aqua; */
    display: block;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  .form-control {
    display: inline;
    margin: 0.5rem;
  }
}
:root {
  font-size: 62.5%;
}

* {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

body {
  background-image: url("../Assets/sewing.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: brown;
  font-size: 1.6rem;
}

.containerMain {
  display: flex;
  justify-content: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.645);
  width: 70%;
  padding: 3rem;
}

#leipzigWardHeader {
  background-color: rgba(255, 255, 255, 0.831);
  color: black;
  padding: 3rem;
  margin: 3rem;
  font-size: 5rem;
}

li {
  display: inline;
  color: white;
  margin: 1rem;
}

.img {
  border-radius: 50%;
  width: 500px;
}

a {
  text-decoration: none;
  color: white;
  font-size: small;
}

label,
strong {
  color: brown;
}

#addNewWorkshopCard {
  background-color: rgba(255, 255, 255, 0.765);
  padding: 2rem;
  width: 300px;
  border-radius: 30px;
}

.divInput {
  margin: 2rem;
}

#h2AddWorkshop {
  color: brown;
}

input {
  border-radius: 5px;
  height: 35px;
  display: block;
  justify-content: center;
}

iframe {
  width: 640px;
  height: 480px;
}

/*# sourceMappingURL=index.css.map */
