@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&display=swap");
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: brown;
  border-radius: 5px;
  margin: 40px;
  color: white;
  transition: transform 350ms ease-in-out;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.4);
  position: relative;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.4);
  transition: transform 350ms ease-in-out;
  opacity: 0;
}
.button:hover, .button:focus {
  transform: scale(1.05);
}
.button:hover::before, .button:focus::before {
  opacity: 1;
}

#foot {
  background-color: rgba(0, 0, 0, 0.831);
  padding: 3rem;
  margin: 3rem;
  font-size: 3rem;
  color: white;
}

.searchZone {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.cardContainer {
  /* background-color: rgba(255, 255, 255, 0.301); */
  display: flex;
  justify-content: center;
}
.cardContainer #workshopListUL {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: rgba(255, 255, 255, 0.5); */
  width: 99%;
}
.cardContainer #workshopListUL .workshopCard {
  color: gray;
  background-color: rgba(255, 255, 255, 0.733);
  width: 200px;
  height: 280px;
  border-radius: 20px;
  font-size: 1.6rem;
  padding: 10px;
  overflow: hidden;
  /* #workshopCardInside{
      background-color: aquamarine;
      height: 100%; 
    } */
}
.cardContainer #workshopListUL .workshopCard .makerLabel {
  background-color: rgba(0, 0, 0, 0.096);
  margin: 0.5rem;
}

.nav nav {
  background-color: rgba(0, 0, 0, 0.831);
  padding: 3rem;
  margin: 3rem;
}
.nav nav li .liNav {
  text-decoration: none;
  font-size: 4rem;
}
.nav nav li .liNav:hover {
  color: brown;
  transition: color 0.3s ease-in-out;
}

:root {
  font-size: 62.5%;
}

* {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.containerMain {
  display: flex;
  justify-content: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.645);
  width: 70%;
  padding: 3rem;
}

#leipzigWardHeader {
  background-color: rgba(255, 255, 255, 0.831);
  color: black;
  padding: 3rem;
  margin: 3rem;
  font-size: 5rem;
}

li {
  display: inline;
  color: white;
  margin: 1rem;
}

.img {
  border-radius: 50%;
  width: 500px;
}

a {
  text-decoration: none;
  color: white;
  font-size: small;
}

#a_makers_name {
  color: rgb(53, 52, 52);
  font-size: medium;
}
#a_makers_name hover {
  color: brown;
}

label,
strong {
  color: brown;
}

#addNewWorkshopCard {
  background-color: rgba(255, 255, 255, 0.765);
  padding: 2rem;
  width: 300px;
  border-radius: 30px;
}

.divInput {
  margin: 2rem;
}

#h2AddWorkshop {
  color: brown;
}

input {
  border-radius: 5px;
  height: 35px;
  display: block;
  justify-content: center;
}

iframe {
  width: 640px;
  height: 480px;
}

body {
  background-image: url("../Assets/BgSewing.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: brown;
  font-size: 1.6rem;
}

/*# sourceMappingURL=index.css.map */
