@use '../abstracts/colors';
@use '../abstracts/fonts';

:root {
    font-size: fonts.$font-size_62;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.App {
    text-align: center;
}

.containerMain {
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.645);
    width: 70%;
    padding: 3rem;
}

#leipzigWardHeader {
    background-color: rgba(255, 255, 255, 0.831);
    color: colors.$header;
    padding: 3rem;
    margin: 3rem;
    font-size: 5rem;
}

li {
    display: inline;
    color: white;
    margin: 1rem;
}

.img {
    border-radius: 50%;
    width: 500px;
}

a {
    text-decoration: none;
    color: white;
    font-size: small;
}
#a_makers_name{
    color:rgb(53, 52, 52);
    font-size:medium;
    & hover{
        color: colors.$button-color;
    }
}

label,
strong {
    color: colors.$button-color;
}

#addNewWorkshopCard {
    background-color: rgba(255, 255, 255, 0.765);
    padding: 2rem;
    width: 300px;
    border-radius: 30px;
}

.divInput {
    margin: 2rem;
}

#h2AddWorkshop {
    color: colors.$button-color;
}

input {
    border-radius: 5px;
    height: 35px;
    display: block;
    justify-content: center;
}

iframe {
    width: 640px;
    height: 480px
}